{% load static %}
<style>
    .carousel {
        margin-top: 2rem;
        width: 100%;
        height: 95vh;
        overflow: hidden;
        position: relative;
    }

    .carousel .heading{
        position: absolute;
        top: 5%;
        width: 100%;
        text-align: center;
        z-index: 110;
        font-family: 'Oxygen', serif;
        color: white;
        font-size: 50px;
        font-weight: 800;
        line-height: 1;
        text-transform: capitalize;
        /* text-shadow: 1px 1px 5px black; */
        } 
    .item {

        width: 180px;
        height: 250px;
        background-size: cover;
        background-position: 50% 50%;
        top: 80%;
        transform: translateY(-70%);
        position: absolute;
        left: 70%;
        border-radius: 20px;
        box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);
        z-index: 100;
        transition: 1s;
        overflow: hidden;
    }



    .carousel .list .item:nth-child(1),
    .carousel .list .item:nth-child(2) {
        left: 0;
        top: 0;
        transform: translate(0, 0);
        background-repeat: no-repeat;
        border-radius: 0;
        width: 100%;
        height: 100%;

    }

    .carousel .list .item:nth-child(3) {
        left: 67%;
    }

    .carousel .list .item:nth-child(4) {
        left: calc(67% + 200px);
    }

    .carousel .list .item:nth-child(5) {
        left: calc(67% + 400px);
    }

    .carousel .list .item:nth-child(6) {
        left: calc(67% + 600px);
    }

    .carousel .list .item:nth-child(7) {
        left: calc(67% + 800px);
        opacity: 0;
    }

    .item .content {
        position: absolute;
        left: 100px;
        top: 50%;
        transform: translateY(-50%);
        width: 500px;
        text-align: left;
        color: rgb(0, 0, 0);
        display: none;
        z-index: 2;
    }
    .item:nth-child(1) .content,
    .item:nth-child(2) .content{
        display: block;
    }
    .item:nth-child(2)::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 70%;
            height: 100%;
            background: linear-gradient(to right, #000000de, rgba(0, 0, 0, 0));
            pointer-events: none;
            z-index: 1;
        }


    .item .title {
        font-family: 'Oxygen', serif;
        color: white;
        font-size: 50px;
        font-weight: 650;
        line-height: 1;
        text-transform: capitalize;
        /* text-shadow: 1px 1px 5px black; */
    }

    .item .details {
        font-family: 'Oxygen', serif;
        color: white;

        margin: 10px 0 20px 5px;
        font-weight: 500;
        font-size: 17px;

    }

    .item a {
        font-family: 'Oxygen', serif;
        margin-left: 5px;
        padding: 10px 15px;
        background-color: rgb(255, 94, 0);
        color: rgb(0, 0, 0);
        border-radius: 50px;
        text-decoration: none;

    }

    .item .content a:hover {
        transform: translateY(10px);
    }

    .carousel .arrow {
        position: absolute;
        top: 80%;
        right: 52%;
        width: 300px;
        max-width: 30%;
        display: flex;
        gap: 10px;
        align-items: center;
        z-index: 100;

    }
    .arrow button{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: rgb(255, 94, 0);
        color: rgb(0, 0, 0);
        border: none;
        outline: none;
        font-weight: bold;
        font-size: 16px;
        font-family: monospace;
        transition: .5s;
        cursor: pointer;
    }

</style>
<div class="carousel">
    <div class="heading">
        Our Recent <span style="color:rgb(255, 94, 0) ;">Blogs</span>
    </div>
    <div class="list">

        {% for i in single_blog %}
        <div class="item" style="background: url('{{i.image.url}}');">
            <div class="content">
                <div class="title">
                    {{i.title}}
                </div>
                <div class="details">
                    {{i.short_details}}
                </div>
                <a href="{% url 'blog' %}">See More</a>
            </div>
        </div>
        {% endfor %}

    </div>

    <div class="arrow">
        <button class="prev"> < </button>
        <button class="next"> > </button>
    </div>
    <div class="timeRunning"></div>
</div>


</div>

<script>
    var nextBtn = document.querySelector('.next'),
    prevBtn = document.querySelector('.prev'),
    carousel = document.querySelector('.carousel'),
    list = document.querySelector('.list'), 
    item = document.querySelectorAll('.item'),
    runningTime = document.querySelector('.carousel .timeRunning') 

let timeRunning = 3000 
let timeAutoNext = 7000

nextBtn.onclick = function(){
    showSlider('next')
}

prevBtn.onclick = function(){
    showSlider('prev')
}

let runTimeOut 

let runNextAuto = setTimeout(() => {
    nextBtn.click()
}, timeAutoNext)


function resetTimeAnimation() {
    runningTime.style.animation = 'none'
    runningTime.offsetHeight /* trigger reflow */
    runningTime.style.animation = null 
    runningTime.style.animation = 'runningTime 7s linear 1 forwards'
}


function showSlider(type) {
    let sliderItemsDom = list.querySelectorAll('.carousel .list .item')
    if(type === 'next'){
        list.appendChild(sliderItemsDom[0])
        carousel.classList.add('next')
    } else{
        list.prepend(sliderItemsDom[sliderItemsDom.length - 1])
        carousel.classList.add('prev')
    }

    clearTimeout(runTimeOut)

    runTimeOut = setTimeout( () => {
        carousel.classList.remove('next')
        carousel.classList.remove('prev')
    }, timeRunning)


    clearTimeout(runNextAuto)
    runNextAuto = setTimeout(() => {
        nextBtn.click()
    }, timeAutoNext)

    resetTimeAnimation() // Reset the running time animation
}

// Start the initial animation 
resetTimeAnimation()
</script>