{% load static %}
<style>
    .welcome {
        width: 100%;
        /* border: 1px solid black; */
        /* background: url('../static/images/memphis.jpg') ; */
        background-size: cover repeat center center;
        display: flex;
        justify-content: center;
        align-items: center;


    }

    .container-3 {
        margin: 7rem 0;
        width: 80%;
    }

    .container-3 img {
        width: 420px;
        height: 90%;
        margin-left: 0;
        float: left;
        margin-right: 20px;
        border-radius: 10px;
        /* border-radius: 50% 20% / 10% 40%; */
        /* animation: shapeChange 7s infinite ; */
        opacity: 0;
    }

    @keyframes shapeChange {
        0% {
            border-radius: 50% 20% / 10% 40%;
        }

        25% {
            border-radius: 20% 50% / 30% 10%;
        }

        50% {
            border-radius: 10% 30% / 50% 20%;
        }

        75% {
            border-radius: 30% 10% / 20% 50%;
        }

        100% {
            border-radius: 50% 20% / 10% 40%;
        }
    }

    .container-3 .text-3 {
        /* border: 1px solid black; */
        line-height: 32px;

    }

    .container-3 .text-3 p {
        background-color: transparent;
        font-size: 18px;
        margin-top: 0px;
        font-family: "Oxygen", serif !important;
        font-weight: 400;
        font-style: normal;
        margin-bottom: 1.5rem;
    }

    .container-3 .text-3 p span {
        font-size: 25px;
        color: rgb(0, 0, 0);
    }


    .text-3 p{
        opacity: 0;
        transform: translateY(50px);
        transition: all .5s ease-in-out;
        z-index: 1;
        transition-delay: 0.6s;
    }


/* From Uiverse.io by cssbuttons-io */ 
.text-3 a {
  --color: black;
  font-family: inherit;
  display: inline-block;
  font-family: "Oxygen", serif !important;
  width: 8em;
  height: 2.6em;
  line-height: 2.5em;
  text-align: center;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  border: 2px solid var(--color);
  transition: color 0.5s;
  z-index: 1;
  font-size: 17px;
  border-radius: 6px;
  font-weight: 500;
  color: var(--color);
  text-decoration: none;
  opacity: 0;
}

.text-3 a:before {
  content: "";
  position: absolute;
  z-index: -1;
  background: var(--color);
  height: 150px;
  width: 200px;
  border-radius: 50%;
}

.text-3 a:hover {
  color: #fff;
}

.text-3 a:before {
  top: 100%;
  left: 100%;
  transition: all 0.7s;
}

.text-3 a:hover:before {
  top: -30px;
  left: -30px;
}

.text-3 a:active:before {
  background: #3a0ca3;
  transition: background 0s;
}





    @media screen and (max-width: 650px) {

        .container-3 img {
            width: 100%;

        }

        .container-3 a {
            font-family: 'Times New Roman', Times, serif;
            /* border: 1px solid black; */
            width: 150px;
            font-size: 14px;

            height: 20px;
            margin-bottom: 10px;
        }

        .container-3 .text-3 pre {
            margin-top: 0;
            color: black;
            text-wrap: wrap;
            font-size: 18px;
            font-family: 'Times New Roman', sans-serif;
            /* border: 1px solid black; */
        }

        .container-3 .text-3 pre span {
            font-size: 22px;
            color: rgb(131, 220, 255);
        }

        .container-3 button {
            scale: 1;
            text-decoration: none;
            padding: 13px 25px;
            margin-left: 0;
            border: none;
        }
    }
</style>
<div class="welcome">
    <div class="container-3">
        <img class="slide-up" style="--d:0.3s; " src='{% static "images/saieb.jpg" %}' alt="Image">
        <div class="text-3">
            <p class="slide-up" style="--d:0.6s; "> <span>Welcome to MARKETEASE,</span>

                Your trusted partner for business growth and success. We specialize in providing simple, effective, and
                affordable solutions for businesses of all sizes.Whether you’re just starting or looking to expand,

                We offer tailored services like digital marketing, branding, and salesc strategies to help you reach
                your
                goals. <br>With expertise in both local and global markets,

                We create unique plans to promote your business and attract more customers.

                Our services...</p>
            <a class="slide-up" style="--d:0.9s;" href="{% url 'service' %}">Read More</a>
        </div>
    </div>
</div>

<!-- <script>
    // অ্যানিমেশন করা উপাদান নির্বাচন
const animatedElements = document.querySelectorAll('.container-3 img, .text-3 p, .container-3 button');

// Intersection Observer সেটআপ
const observer = new IntersectionObserver(
  (entries) => {
    entries.forEach((entry) => {
      if (entry.isIntersecting) {
        entry.target.classList.add('visible'); // দৃশ্যমান হলে ক্লাস যোগ করুন
        observer.unobserve(entry.target); // একবার সক্রিয় হওয়ার পরে পর্যবেক্ষণ বন্ধ
      }
    });
  },
  { threshold: 0.1 } // ১০% দৃশ্যমান হলে
);

// প্রত্যেক আইটেম পর্যবেক্ষণে যুক্ত করুন
animatedElements.forEach((element) => observer.observe(element));

</script> -->